@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  color: #ffffff;
}
:before, :after {
  box-sizing: border-box;
}
/* custom variables */
:root {
  /* sizes */
  --fs-xsmall: 12px;
  --fs-small: 16px;
  --fs-medium: 20px;
  --fs-large: 24px;
  --fs-xlarge: 28px;
  --fs-xxlarge: 32px;
  --fs-xxxlarge: 36px;
  --fs-huge: 46px;
  /* colors */
  --color-dark: #131313;
  --color-light: #ffffff;
  --color-light-50: #ffffffbe;
  --color-grey: #808080;
  --color-soft: #c4c4c428;
}
*:not(i) {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
body {
  background-color: var(--color-dark);
}
.btn-hover-up {
  display: inline-block;
  position: relative;
  padding: 5px 10px;
  margin: 10px 0 0;
  font-size: var(--fs-medium);
  border: none;
  cursor: pointer;
  border-radius: 2px;
}
.btn-hover-up:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-light);
  border-radius: 2px;
}
.btn-hover-up:after {
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-dark);
  border: 0.5px solid var(--color-light);
  border-radius: 2px;
  transition: 0.3s ease;
}
.btn-hover-up:hover:after {
  transform: translateY(-4px);
}
.btn-hover-up:active:after {
  transform: translateY(0px);
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  text-align: center;
}
.section.hide {
  display: none;
}
.section.active {
  animation: appearIn 1.5s ease;
}

/* predefined classes */
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.section {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding: 20px;
  background-color: var(--color-dark);
}
.menu-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  margin: 0;
  z-index: 1;
}
.section-title {
  text-align: center;
  margin: 0 0 40px;
}
.section-title h2 {
  display: inline-block;
  font-size: var(--fs-xlarge);
  font-weight: 400;
}
.section-title h2:before {
  content: attr(data-heading);
  display: block;
  text-align: center;
  font-size: var(--fs-small);
  color: var(--color-grey);
  font-weight: 300;
  text-transform: capitalize;
}
h3 {
  font-size: var(--fs-large);
  font-weight: 400;
}
.justify-content-center {
  justify-content: center;
}
.w-50 {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 10px;
}

/* animations */
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes appearIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: rotateY(-90deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0);
  }
}

/* menu section */
.menu-section {
  z-index: 2;
}

/* home section */
.home-section {
  font-size: var(--fs-xlarge);
  text-align: left;
}
.home-section p:nth-child(2) {
  font-weight: 400;
  font-size: var(--fs-huge);
}
/* .home-section p:nth-child(1) {
  animation: appearIn 0.5s 1s both;
}
.home-section p:nth-child(2) {
  animation: appearIn 0.5s 2s both;
}
.home-section p:nth-child(3) {
  animation: appearIn 0.5s 3s both;
}
.home-section button {
  animation: appearIn 0.5s 4s both;
} */

/* about section */
.about-img {
  flex: 0 0 40%;
  max-width: 40%;
  padding: 10px;
}
.about-img .img-box img {
  width: 100%;
  border-radius: 20px;
}
.about-img .social-links {
  padding: 10px;
  text-align: center;
}
.about-img .social-links a {
  margin: 5px;
}
.about-img .social-links i {
  color: var(--color-grey);
  transition: all 0.3s ease;
}
.about-img .social-links i:hover {
  color: var(--color-light);
}
.about-info {
  flex: 0 0 60%;
  max-width: 60%;
  padding: 10px;
}

/* services section */
.service-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.service-item-inner {
  padding: 40px 10px;
  width: 100%;
  text-align: center;
  border: 0.5px solid var(--color-light);
  border-radius: 2px;
}
.service-item-inner .icon {
  height: 50px;
  width: 50px;
  margin: 0 auto 20px;
}
.service-item-inner .icon i {
  font-size: var(--fs-xlarge);
  line-height: 50px;
  color: var(--color-grey);
  transition: all 0.3s ease;
}
.service-item-inner:hover .icon i {
  color: var(--color-light);
}
.service-item-inner h3 {
  text-transform: capitalize;
  margin: 0 0 10px;
}

/* contact section */
.contact-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  display: flex;
  padding: 10px;
}
.contact-item-inner {
  text-decoration: none;
  padding: 40px 10px;
  text-align: center;
  border: 0.5px solid var(--color-light);
  border-radius: 2px;
  width: 100%;
  transition: all 0.3s ease;
}
.contact-item-inner:hover {
  box-shadow: 0px 0px 4px 4px var(--color-light-50);
}
.contact-item-inner i {
  font-size: var(--fs-xlarge);
  color: var(--color-grey);
  transition: all 0.3s ease;
}
.contact-item-inner:hover i {
  color: var(--color-light);
}
.contact-item-inner span {
  display: block;
  margin: 10px 0 5px;
}
.contact-item-inner p {
  word-break: break-word;
}
.contact-section .contact-form {
  flex: 0 0 100%;
  width: 100%;
  margin: 40px 0 0;
}
.contact-section .input-group {
  margin: 0 0 20px;
}
.contact-section .input-group .input-control {
  height: 45px;
  display: block;
  width: 100%;
  border: 0.5px solid var(--color-light);
  border-radius: 2px;
  background-color: transparent;
  font-size: var(--fs-small);
  padding: 0 10px;
  transition: all 0.3s ease;
}
.contact-section .input-group .input-control:focus {
  box-shadow: 0px 0px 2px 2px var(--color-light);
}
.contact-section .input-group textarea.input-control {
  height: 184px;
  padding-top: 10px;
  resize: none;
}
.contact-section .submit-btn {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: right;
  padding: 0 10px;
}

/* copyright */
.copyright {
  position: fixed;
  bottom: 5px;
  left: 50%;
  font-size: var(--fs-xsmall);
  color: var(--color-soft);
  font-weight: 400;
  transform: translateX(-50%);
  z-index: 2;
}